# Set the default behavior in case core.autocrlf is not set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.ahk text eol=crlf
*.md text eol=crlf
